

.container_two_line{
    /* margin: 0px px 0px 0px; */
    /* padding: 8xp; */
    box-shadow: 0 5px 10px #6c757d;
    background-color: #04a6dd;
    color: #fff;
    width: 400px;
    border-radius: 3px;
}  
.dropdown {
    max-width: auto;
    margin: 0px 5px 0px 0px;
    /* padding:5px 8px; */
    box-shadow: 0 5px 15px #6c757d;
    background-color: #fff;
    color: #fff;
    width: 400px;
}
.container-img{
    width: 400px;
    max-width: auto;
    box-shadow: 0 5px 15px #6c757d;
    border-radius: 5px;
}
.img-fluid{
    width: 150px;
    height:auto;
    padding: 5px;
}

body{
    /* min-width: 400px; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0px;
}

.data{
font-size: 18px;
background-color: #6c757d;
color: aliceblue;
border-collapse: collapse;
min-width: 400px;
box-shadow: 0 5px 15px #6c757d;

}
.data td{
padding: 10px;
border: 1px solid rgb(184, 178, 178);

}
.data td[colspan="2"] {
    font-weight: bold;
    text-align: center;
    background-color: #6c757d;

}

select{
    padding: 10px 50px;
    box-shadow: 0 5px 15px #6c757d;
    width: auto;

}

